.content {
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.title {
    font-family: var(--font-unbounded), sans-serif;
    font-size: clamp(2.8rem, 6vw, 3rem);
    font-weight: 700;
    color: #b69aff;
    margin-bottom: 2rem;
    position: relative;
}

.card {
    border: 1px solid #7d60c9;
    border-right: 0;
    padding: 2rem 2rem 0;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.25rem;
    line-height: 1.6;
    white-space: pre-line;
    margin-bottom: 1.5rem;
}

.cat {
    width: clamp(250px, 30vw, 400px);
    display: block;
}

/* vectors */
.titleLines {
    position: absolute;
    right: 5%;
    top: 0;
    width: 40vw;
    opacity: 0.7;
    pointer-events: none;
}
