
.logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-text);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  /* completamente transparente */
  background: transparent;
  backdrop-filter: none;
}

.menu {
  display: flex;
  gap: 48px;
  list-style: none;
}

.menu li a {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--color-navbar-text);
  padding: 4px;
}

/* línea inicial oculta */
.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background: linear-gradient(90deg, #8C5BFF, #A5A0FF, #C9B6FF);
  transition: width 0.3s ease;
}

/* animación en hover */
.menu li a:hover::after {
  width: 100%;
}